#demo {
	position: relative;
	left: 30%;
	font-family: arial;
}
#botao_imagem {
	position: relative;
	left: 20%;
	height: 100px;
	width: 150px;
}
#botao_imagem2 {
	position: relative;
	left: 39%;
	height: 100px;
	width: 150px;
}
#botao_imagem3 {
	position: relative;
	left: 9%;
	height: 100px;
	width: 150px;
}
#botao_imagem4 {
	position: relative;
	left: 10%;
	height: 100px;
	width: 150px;
}
#galvao {
	position: relative;
	left: 10%;
	top: 240px;
}
#botao_imagem5 {
	position: relative;
	left: 20%;
	height: 100px;
	width: 150px;
	